.wrapSettingsTolls{
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border: 1px solid #282c34;
    border-radius: 10px;
}

.wrapSettingsPad{
    width: 75%;
    height: 165px;
    border: 1px solid #282c34;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.text{
    color: #fff;
}



.wrapContainBtt{
    border: 1px solid #282c34;
    border-radius: 3px;
    width: 75%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}